navigation{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #00ABFF;
	background-image: -o-linear-gradient(270deg,rgba(0,119,128,1.00) 4.66%,rgba(0,218,236,1.00) 36.79%);}
}
.opt{
	float:left;
}
.opt a{
	display: block;
	color: white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	background-color:#00ABFF;
}
.title {
	color: #00DAEC;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	font-size: 100px;
	text-shadow: 4px 4px 3px #007B86;
	margin-top: -14px;
	text-align: center;
}
.title a {
	text-decoration: none;
	color: #00DAEC;
}
.title2 {
	color: #777777;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 34px;
	text-align: center;
	margin-top: -29px;
	text-shadow: 0px 0px;
	border-bottom: thick solid #00DAEC;
}
.sidet{
	color: #777777;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin-top: -29px;
}
.quote{
	color: #00DAEC;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	font-size: 18px;
	margin-top: -14px;
	text-align: center;
}
.name{
	color: #777777;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
}
footer {
	padding: 1em 0px;
	color: #FFC;
	background-image: -webkit-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-size: 16px;
}
body {
	background-color: #F8F8F8;
}
-sm-3 h3 {
	color: #007AFF;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-variant: small-caps;
	font-size: 23px;
	text-shadow: 0px 0px;
	text-align: center;
}
.locations{
	color: #777777;
	font-size: 24px;
	padding: 0px 10px;
	margin-bottom: 5px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
}
.loc {
	color: #00DAEC;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 16px;
	margin-left: 44px;
}
