.title {
	color: #00DAEC;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	font-size: 100px;
	text-shadow: 4px 4px 3px #007B86;
	margin-top: -14px;
	background-repeat: no-repeat;
	background-size: auto 164%;
	background-position: 50% center;
	text-align: center;
}
footer {
	text-size: 14px;
	padding: 1em 0px;
	color: #FFC;
	background-image: -webkit-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,218,236,1.00) 59.07%,rgba(0,104,112,1.00) 100%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-size: 16px;
}
body {
	background-color: #F8F8F8;
}
.title2 {
	color: #777777;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	font-size: 34px;
	text-align: center;
	margin-top: -29px;
	text-shadow: 0px 0px;
	border-bottom: thick solid #00DAEC;
}
.row .col-sm-3 h3 {
	color: #007AFF;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: 400;
	font-variant: small-caps;
	font-size: 23px;
	text-shadow: 0px 0px;
	text-align: center;
}
.locations{
	color: color: #777777;
	font-size: 14px;
	padding: 0px 10px;
	margin-bottom: 5px;
	color: #00DAEC;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-align: center;
	text-shadow: 1px 1px 4px #69F2FF;
	letter-spacing: 0px;
	word-spacing: 6px;
}
.loc {
	color: #00DAEC;
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 16px;
	margin-left: 44px;
}
